.App {
  text-align: center;
}

.input__container {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%; 
}

.input__text {
  width: 90%;
  border: none;
  border-bottom: solid 1px;
  border-color: black;
  padding-left: 15px;
}

.input__btn__cont {
  margin-left: 5%;
  width: 5%;
  display: inline-block;
}

.task__container {
  outline: solid 1px lightgrey;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.task__description {
  width: 80%;
  display: inline-block;
}

.task__controls {
  display: inline-block;
  width: 10%;
}

.task__size {
  display: inline-block;
}

.task__btn--del {
  color: aliceblue;
}